html{
    font-size: 16px;
    font-family: Helvetica;
}
/* header */
header{
    background-color: white;
    display: flex;
    align-items: center;
    height: 64px;
}
.clogo{
    margin-left: 1.5rem;
    width: 40px;
    height: auto;

}
.desktop{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.colmaracademy{
    height: 32px;
}
.desktop ul{
    list-style-type: none;
    display: flex;
}
.desktop ul li{
    margin-right: 1rem;
}
.desktop ul li a{
    text-decoration: none;
    color: black;
}
.colmar{
    color: darkslategray;
}
.academy{
    color: gray;
}
header .mobile{
    display: none;
}
.mobile ul{
    list-style-type:none;
}
@media only screen and (max-width: 600px){
    header .colmaracademy{
        display: none;
    }
    header .desktop{
        display: none;
    }
    header .mobile{
        display: flex;
        width: 100%;
    }
    header .mobile ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}